.blog-card {
  width: clamp(min(20rem, 100%), 40vw, 24rem);

  & > img {
    margin-bottom: 1rem;
  }

  & > h3 {
    font-size: 1.5rem;
  }

  & > p {
    font-weight: 400;
  }

  & > a {
    --arrow-color: var(--dark-blue);
    color: var(--dark-blue);
  }
}