@import url("variables.css");

#hero {
  background-color: var(--tint-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6rem 8rem;
  color: white;
  gap: 3rem;
}

#hero h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4.625rem;
  margin-block: 0.5rem;
}

#hero > p {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 2.5rem;
}

#hero > img {
  width: clamp(20rem, 50%, 80rem);
}

.hero-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
  align-items: center;
}

.primary-action {
  background-color: #fcd980;
  color: black;
  padding: 0.75rem 3.5rem;
  border-radius: 2.5rem;
}

.secundary-action {
  display: flex;
  gap: 1rem;
}

#work {
  color: var(--dark-blue);
  display: flex;
  gap: 8rem;
  align-items: start;
  justify-content: center;
  padding: 4rem 5rem;
}

#work a {
  --arrow-color: var(--royal-blue);
  color: var(--royal-blue);
  display: flex;
  gap: 0.5rem;
}

.steps {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.step-icon {
  display: grid;
  background-color: #2405f2;
  background-image: url("../public/step-icon.svg");
  background-position: center center;
  width: 3.125rem;
  aspect-ratio: 1;
  place-items: center;
  border-radius: 0.6rem;
  color: white;
}

#projects {
  padding: 4rem 5rem;
  height: auto;
  & h2 + a {
    --arrow-color: var(--dark-blue);
    color: var(--dark-blue);
  }

  & > div:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
}

#projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;

  & > div {
    aspect-ratio: 16/12;
    background-position: center center;
    background-size: 100% 100%;
    object-fit: cover;
  }
  & > div:first-child {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
  }
}

.overlay {
  background: linear-gradient(
    329deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  padding: 3rem;

  & > a {
    --arrow-color: var(--yellow);
    color: var(--yellow);
  }
}

.semi-overlay {
  width: 50%;
}

.full-overlay {
  width: 100%;
}

#features {
  padding: 4rem 5rem;
  background-color: var(--gray);
  color: var(--dark-blue);
  & > p,
  & > h2 {
    text-align: center;
  }

  & > h2 {
    font-size: 3rem;
  }
}

#features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;

  & > div {
    background-color: #fff;
    padding: 2rem;

    & > img {
      width: 2rem;
      aspect-ratio: 1;
    }
  }
}

@media (max-width: 1024px) {
  #hero > img {
    display: none;
  }
  #work {
    flex-direction: column;
  }
  #features-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .hero-actions {
    justify-content: center;
  }
  .steps {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-self: center;
  }
  #projects-list {
    display: flex;
    flex-direction: column;
  }
  .semi-overlay {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .hero-actions {
    gap: 1rem;
  }

  h1 {
    text-align: center;
    font-size: 2rem !important;
    letter-spacing: normal;
  }
  h2 {
    font-size: 1.25rem !important;
  }

  #hero {
    padding: 1.5rem;
  }

  #work,
  #features,
  #projects {
    padding: 1rem;
  }

  #projects-list > div p {
    display: none;
  }
}